[submodule "server/gigs-shared"]
	path = server/gigs-shared
	url = https://github.com/navi-gigs/gigs-shared
[submodule "server/services/notification-service"]
	path = server/services/notification-service
	url = https://github.com/navi-gigs/notification-service
[submodule "server/common"]
	path = server/common
	url = https://github.com/navi-gigs/common
